.cis-line {
	shape-rendering: geometricprecision;
}

svg {
	width: 1300px;
	height: 650px;
	border: solid 1px #ccc;
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}
rect:hover {
	cursor:pointer;
	opacity: 0.8;
}
.rule line:hover {
	stroke:#000 !important;
	cursor:pointer;
}
circle, .cis-line {
 shape-rendering:auto;
}
circle:hover {
	fill:#000;
	cursor:pointer;
}

#datavis {
	background:no-repeat url("../img/img-background.png");
}
div.tooltip {
  position: absolute;
  width: 180px;
  padding: 8px;
  font: 12px sans-serif;
  background: #ddd;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
